body
{
	background-color: #222222;
	font-family: 'Lobster', serif;
	font-size: 72px;
	color: #FFFFFF;
	text-align: center;
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}

canvas {
	/*border: 2px solid white;*/
	/*-webkit-border-radius: 10px;*/
	}
	
#timeCanvas {
	position: absolute; 
	top: 150px; 
	left: 0px;
}
	
#pageTitle {
	padding-bottom: 0px;
	height: 0px;
}

#tewCanvas {
	padding: 5px;
	padding-bottom: 0px;
}

#wallClock{
	font-family: 'Megrim', serif;
	padding-left: 25px;
	text-align: left;
}

